<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style_SignIn.css}" />

    <title>Trang đăng nhập</title>
</head>
<body>

<section id="section_SignIn" class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div>
                <div id="card" class="card text-black" style="border-radius: 25px; width: 500px; margin: auto; position: relative;">
                    <div class="card-body p-md-5" style="padding: 20px 10px !important;">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" style="width: 100%;">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="margin-bottom: 25px !important;">
                                    Đăng nhập
                                </p>
                                <div style="width: 100%; text-align: center; margin: 10px 0 20px 0;">
                                    <img th:src="@{/pictures/main/logo.png}" style="width: 120px; height: 120px; border-radius: 50%;"/>
                                </div>
                                <form class="mx-1 mx-md-4" method="post" th:action="@{/authenticate}">
                                    <th:block th:if="${param.error}">
                                        <p style="color: red;font-size: 1.2rem; display: block; text-align: center; margin-bottom: 1.2rem">
                                            Sai tên tài khoản hoặc mật khẩu !
                                        </p>
                                    </th:block>
                                    <div class="d-flex flex-row align-items-center mb-4" style="margin-bottom: 5px !important">
                                        <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c"
                                            >Tên tài khoản:</label
                                            >
                                            <input style="width: 100%;"
                                                   type="text"
                                                   id="form3Example1c"
                                                   class="form-control"
                                                   name="username"
                                            />
                                            <p
                                                    class="err" style="color: red; font-size:16px; margin-top: 2px"
                                            ></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c"
                                            >Mật khẩu:</label
                                            >
                                            <input style="width: 100%;"
                                                   type="password"
                                                   id="form3Example4c"
                                                   class="form-control"
                                                   name="password"
                                            />
                                            <p
                                                    class="err" style="color: red; font-size: 16px; margin-top: 2px"
                                            ></p>
                                        </div>
                                    </div>
                                    <div
                                            class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                                    >
                                        <button type="button" class="btn btn-primary btn-lg">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SCRIPT  -->


<script defer="defer" th:src="@{/js/dangnhap.js}"></script>
</body>
</html>
